datasets
loralib
sentencepiece
git+https://github.com/huggingface/transformers.git
git+https://github.com/huggingface/transformers@de9255de27abfcae4a1f816b904915f0b1e23cd9
accelerate
bitsandbytes
git+https://github.com/huggingface/peft.git
git+https://github.com/PanQiWei/AutoGPTQ.git
gradio
